/* General */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@font-face {
    font-family: 'Clash Display';
    src:url('/assets/fonts/ClashDisplay-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
  }

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Clash Display", sans-serif;
    font-weight: 300;
}

